<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ChatBot</title>
        <meta http-equiv="X-UA-compatible" content="IE-edge">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/introduction_styles.css') }}">

    </head>

<body>
    <script src="{{ url_for('static', filename='js/introduction_script.js') }}"></script>
    <header class="head">
        <img src="{{ url_for('static', filename='images/hi.gif') }}" id="chatbot">
        <h2 class="logo">CHAT BOT </h2>
        <nav class="navigation">
            <a href="#" class="active"> HOME</a>
            <a href="/chatbot">CHATBOT</a>
        
        </nav>
    </header>
    <section class="parallex">
        <img src="{{ url_for('static', filename='images/blackred.jpeg') }}"id="wall">
        <h2 id="text">CHAT SHAH</h2>
    </section>
    <section class="sec">
        <img src="{{ url_for('static', filename='images/wallpaper1.jpg') }}" id="wallpaper">
        <ul>
            <li>
                <h3 >ABOUT</h3>  
            </li>
            <div >
                <li class="text1">
                <p style="color:#0ef"> 

                    Chatbot For Iconic Success Stories is an conversational agents which specifically designed to engage users with inspiring and motivational<br>
                    stories of notable achievements and triumphs of peoples across various domain, and its name ChatSHAH.<br><br>
                
                    Leveraging advanced techniques in natural language processing (NLP) and machine learning. This chatbot dynamically curates and presents<br>
                    compelling stories tailored to individual preferences and interests.Users can interact with the chatbot through text and prompting it to deliver<br>
                    success and struggle stories of people from various fields and categorized them as <br>
                    Celebrities , Billionaires , Sports , Average Heros , Inspiring Legends , Everday Companion.<br><br>

                    ChatSHAH helps users by giving stories of successful people of different fields which motivate and inspire users by sharing stories <br>
                    of remarkable individuals who have overcome challenges and achieved extraordinary success.<br><br>
 

                    ChatSHAH help people not only provide stories just for them to read but also inspiring them by knowing famous peoples how they overcome<br>
                    their fears and struggles to achieve the place where they are now and also motivate readers to achieve their goal in different fields <br>
                    and make their dream come true. Just by saying inspire,motivate and empower users by sharing the stories <br>
                    of remarkable individuals who have overcome challenges and achieved extraordinary success.</p>
                </li>
            </div>
        </ul>
    </section>
</body>
</html>

